* {
    margin: 0;
    font-family: sans-serif;
}

@media only screen and (max-width: 1024px) {
    body {
        background-image: url(Billeder/splash2.png);
        background-size: 100vw 217vw;
    }
}

@media only screen and (min-width: 1025px) {
    body {
        background-image: url(Billeder/splash.png);
        background-size: 100vw 68vw;
    }
}

@media only screen and (max-width: 1165px) {
    header a {
        text-decoration: none;
        color: white;
        background-color: rgba(123, 172, 25, 0.25);
        width: 50vw;
        padding: 1vw;
    }

    #menu {
        display: flex;
        flex-direction: column;
    }

    #menu.hidden {
        display: none;
    }

    #menuknap {
        font-size: 6vw;
        color: white;
    }

    nav {
        padding-left: 3vw;
    }

}

@media only screen and (min-width: 1166px) {

    #menuknap {
        display: none;
    }

    .hidden {
        display: flex;
    }

    nav {
        padding: 2vw;
    }

    #menu {
        display: flex;
        flex-direction: row;
    }

    header a {
        text-decoration: none;
        color: white;
        padding: 1vw;
        border-right: 0.1vw white solid;
    }

}

header a:hover {
    text-decoration: none;
    color: white;
    padding: 1vw;
    background-color: rgba(123, 172, 25, 0.25);
}


body {
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#hjem,
#intro,
#grundweb,
#grundind,
#grundani,
#grundux {
    flex-grow: 1;
}

.profilphoto img {
    position: absolute;
    flex-basis: 2vw;
    flex-grow: 1;
    left: 78vw;
    top: 4vw;
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
}

.headline {
    color: white;
    padding-left: 10vw;
    padding-top: 3vw;
}

.underhead {
    color: #a0709c;
    padding-left: 10vw;
    padding-right: 40vw;
    padding-top: 1vw;
}

#hjem .headline {
    color: white;
    margin-left: 10vw;
    margin-right: 25vw;
    margin-top: 14vw;
    margin-left: 0;
}

.cv h3 {
    color: white;
    text-decoration: underline;
    margin-left: 10vw;
    margin-top: 10vw;
}

.cvtxt {
    color: white;
    margin: 6vw 10vw 2vw 9vw;
}

.cvtxt li {
    padding-bottom: 2vw;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 2vw;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 2vw;
    padding-top: 2vw;
}

.box1,
.box3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.box2,
.box4 {
    display: flex;
    flex-wrap: wrap;
}

.picture {
    flex-grow: 1;
    flex-basis: 0;
    margin: 4vw 4vw 4vw 0;
    text-align: center;
}

.box2 .picture {
    margin: 4vw 0 0 4vw;
}

.box4 .picture {
    margin: 4vw 0 0 4vw;
}

.picture p {
    text-align: center;
    font-size: 1vw;
}

.text {
    flex-grow: 1;
    flex-basis: 240px;
    margin: 2vw;
    line-height: 1.5;
}

.text p {
    text-align: center;
}

.projects img {
    width: 14vw;
    height: 14vw;
    border: 0.2vw solid white;
    border-radius: 100%;
}

.projects img:hover {
    opacity: 0.65;
}

footer {
    color: white;
    font-size: 1vw;
    padding: 1vw;
}
